<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Kontak</h2>
      <a href="/contact/add" class="btn btn-primary badge rounded-pill">
        <i class="bi bi-person-add"></i> Tambah</a
      >

      <% if (contacts.length === 0 ) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <strong>Alert Heading</strong> Alert Content
      </div>

      <script>
        var alertList = document.querySelectorAll(".alert");
        alertList.forEach(function (alert) {
          new bootstrap.Alert(alert);
        });
      </script>

      <% } %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Nomer Hp</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((contact,i) => { i++ %>
          <tr>
            <th scope="row"><%= i++ %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.hp %></td>
            <td>
              <a href="#" class="btn btn-success badge rounded-pill">
                <i class="bi bi-pencil-fill"></i> Edit</a
              >
              <a href="#" class="btn btn-danger badge rounded-pill">
                <i class="bi bi-trash3"></i> Hapus</a
              >
              <a
                href="/contact/<%= contact.nama %>"
                class="btn btn-info badge rounded-pill"
              >
                <i class="bi bi-eye-fill"></i> Detail</a
              >
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
